.App {
  text-align: center;
}

.App-link {
  color: white;
  padding-right: 15px;
  font-size: 0.8em;
  font-size: large;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
