.repo-container{
  display: flex;
}

.repo-container div{
  border: 0px #ccc solid;
  padding: 5px;
}

.repo-line-empty-left
{
  flex:2;
  order:1;
}

.repo-line-forks
{
  flex:1;
  order:2;
}

.repo-line-fullname
{
  flex:3;
  order:3;
}

.repo-line-bookmark
{
  flex: 2;
  order: 4;
}

.repo-line-url
{
  flex:1;
  order:5;
}

.repo-line-empty-right
{
  flex:2;
  order:6;
}

.repo-list
{
  align-items: center;
  justify-content: center;
}

.repo-header
{
  background-color: aliceblue
}

input{
  font-size:0.8rem;
  height: 20px;
  width: 150px;
  margin: 10px
}
