.repo-container{
  display: flex;
}

.repo-container div{
  border: 1px #ccc solid;
}
.repo-line-forks
{
  flex:1;
  order:1;
}

.repo-line-fullname
{
  flex:3;
  order:2;
}

.repo-line-url
{
  flex:1;
  order:4;
}

.repo-line-bookmark
{
  flex: 2;
  order: 3;
}

.repo-list{
  width : 60%;
  display: inline-block;
}

input{
  font-size:0.8rem;
  height: 20px;
  width: 150px;
  margin: 10px
}
